# Data files
*.parquet
!stars/visible_stars_with_hipparcos_and_names.parquet
*.csv
*.dat
*.pdf

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# PySpark
metastore_db/
derby.log
spark-warehouse/
